---
Language: Cpp
BasedOnStyle: LLVM

BreakBeforeBraces: Allman

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: None

FixNamespaceComments: true
ShortNamespaceLines: 0

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true

AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
BinPackArguments: false
BinPackParameters: false

SortIncludes: false
IncludeBlocks: Preserve

SpaceAfterCStyleCast: false
SpacesBeforeTrailingComments: 1
AlignAfterOpenBracket: Align
AlignTrailingComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
